/*------------------------------------------------------------------
Project:  Shahab Shakoor resume
Version:  0.0.1
Last change:
Assigned to:  Shahab Shakoor
Primary use:
-------------------------------------------------------------------*/


body{
  padding-top: 50px;
  width: 100%;
  overflow-x: hidden;
}

